@svijetloplava: #e3e7ee;
@zuta: #f9ce00;


body{
  padding-top:60px;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
}
/* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) { 
  	body{
      background-image: url('../img/bg.jpg');
  	}
  }
 
  /* Large desktop */
  @media (min-width: 1200px) {
  	body{
  		padding-top:60px;
      
      background-image: url('../img/bg.jpg');
      background-repeat: no-repeat;

  	}
  }

  .post{
    padding:10px;
    background: @svijetloplava;
    margin-bottom:20px;
    border: 2px solid @zuta;

    .media{
      width:50%;
      float:left;
    }

    h2{
      margin-left:15px;
      margin-bottom:0px;
    }
    h6{
      margin-left:15px;
      margin-top:0px;
    }

    
  }

  li.thumbs
    {
      width:24%;
      margin:0;
    }

  .first-img{
    width:92%;
  }

  .post-thumbs{
    margin-left:30px;
    margin-left:0;
  }

  .w-98{
    width:98%;
  }

  .hero-unit{
    border:2px solid @zuta;
    background-image:url('../img/transbg2.png');

    h1{
      background-image:url('../img/transbg.png');

    }

    .lead{
      background-image:url('../img/transbg.png');
    }

  }

  .primnav{
    border-bottom: 5px solid @zuta;
  }

  #tags{
    background-image:url('../img/transbg2.png');
    background-color:none;
  }