body {
  padding-top: 60px;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    background-image: url('../img/bg.jpg');
  }
}
/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 60px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
  }
}
.post {
  padding: 10px;
  background: #e3e7ee;
  margin-bottom: 20px;
  border: 2px solid #f9ce00;
}
.post .media {
  width: 50%;
  float: left;
}
.post h2 {
  margin-left: 15px;
  margin-bottom: 0px;
}
.post h6 {
  margin-left: 15px;
  margin-top: 0px;
}
li.thumbs {
  width: 24%;
  margin: 0;
}
.first-img {
  width: 92%;
}
.post-thumbs {
  margin-left: 30px;
  margin-left: 0;
}
.w-98 {
  width: 98%;
}
.hero-unit {
  border: 2px solid #f9ce00;
  background-image: url('../img/transbg2.png');
}
.hero-unit h1 {
  background-image: url('../img/transbg.png');
}
.hero-unit .lead {
  background-image: url('../img/transbg.png');
}
.primnav {
  border-bottom: 5px solid #f9ce00;
}
#tags {
  background-image: url('../img/transbg2.png');
  background-color: none;
}
